<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkEXPn0-RTjqrpAHVeWrT9NHj03UClNIU</string>
	<key>GCM_SENDER_ID</key>
	<string>240378671893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yosrith.zanzouk</string>
	<key>PROJECT_ID</key>
	<string>zanzo-uk-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>zanzo-uk-mvp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240378671893:ios:eda005d1fdcdc22c432f1c</string>
</dict>
</plist>